.header__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url('../assets/Menu.svg');
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1em;
}

.header {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

.container__img {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__btn:checked ~ .lista-menu {
    display: block
}

.lista-menu__titulo, 
.lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    color: var(--azul);
    text-decoration: none;
}

.container__btn {
    display: none;
}

.header__titulo {
    display: none;
}

.opcoes {
    display: none;
}

.container__texto {
    display: none;
}

@media screen and (min-width: 1024px) {

    .header__titulo, .header__titulo__destaque {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .header__titulo {
        font-weight: 400;
        display: block;
    }

    .header__titulo__destaque {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--preto);
    }

    .container__img__fav {
        display: none;
    }

    .header__menu-hamburguer {
        display: none;
    }

    .opcoes__btn:checked ~ .lista-menu {
        display: block;
        width: auto;
    }

    .opcoes__btn {
        display: none;
    }   

    .opcoes__label{
        text-transform: uppercase;
    }

    .opcoes__btn:checked ~ .opcoes__label > .opcoes__item {
        background: var(--azul-novo);
        color: var(--branco);
    }

    .opcoes__item {
        padding: 2em 1em;
    }

    .lista-menu__item:hover {
        background-color: var(--azul-novo);
    }

    .lista-menu__item:hover > .lista-menu__link {
        color: var(--branco);
    }

}

@media screen and (min-width: 1728px) {
    
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }

    .header {
        padding: 0 3em;
    }

    .opcoes {
        margin-right: auto;
    }

    .header__titulo {
        margin: 0.2em 1em 0 0;
    }

    .container__texto {
        display: block;
    }
}

.container__btn:checked ~ .container__rotulo > .header__menu-hamburguer {
    background-image: url("../assets/MenuAberto.svg");
}

.container__btn:checked ~ .container__rotulo {
     background-color: var(--azul-novo);
}
